<head>
	<link rel="stylesheet" type="text/css" href="css/second.css">
</head>

<body>
	
	<div class="head1">
		<h1>Secure <span>Calc</span></h1>
	</div>

	<div class="calcBox">
		<form method="post" action="calculate">

		<div class="nums">
			<div class="in">
			    <input type="number" placeholder="Enter Number" name="val1" required>
			</div>
			<div class="in2">
				<input type="number" placeholder="Enter Number" name="val2" required><br>
			</div>
		</div>

		<div class="ops">
			<input type="radio" name="operation" value="add" required="">Add
  			<input type="radio" name="operation" value="subtract" required="">Subtract
 			<input type="radio" name="operation" value="multiply" required="">Multiply
			<input type="radio" name="operation" value="divide" required="">Divide
		</div>

			<div class="sub">
			<!-- 	<input type="submit" value="Submit" id="hover2"> -->
			<button type="submit">Submit</button>
			</div>

		</form>

	</div>


	<div class="answer">
		<h2>
			<% unless val1 == ""%>
			
			<% if result == false%>
				cannot divide by zero
			<% else%>
				<%= val1%> <%= operation%> <%= val2%> = <%= result%>
			<% end%>
			<% end%>
		</h2>
	</div>
</body>