<body>

	<div class="left">

		<h1>Usernames</h1>

		<ul>
			<li>Admin</li>
			<li>Class</li>
			<li>Teacher</li>
		</ul>
	</div>

	<div class="right">

		<h1>Passwords</h1>

		<ul>
			<li>Admin</li>
			<li>Minedminds</li>
			<li>Learn</li>
		</ul>
	</div>

	<div class="back">
		<input type="button" value="Back" onclick="history.back()">
	</div>

</body>