<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

	<div class="loginBox">
		<form method="post" action="log">
			<div class="header">
				<h3>Login</h3>
			</div>

			<div class="error">
				<p><%= error%></p>
			</div>

			<div class="inputBox">
				<input type="text" placeholder="Username" name="username" >
				<input type="password" placeholder="Password"  name="password" >
			</div>

			<div class="submit">
				<input type="submit" value="Login" id="hover">
			</div>

			<div class="forgot">
				<a href="/forgot">Forget Password</a>
			</div>
		</form>
	</div>
</body>